{% extends 'layouts/default/page.html' %} {% load i18n %} {% block content %}{% if request.user.is_authenticated %}


<h1>Atlus</h1>
<div class="card dark-bg bg-dark container mt-3">
    <br />
    <code>
		<br />
		<br />
		<h2>{{ request.user.username }}@Librus:~$ Github: <a href="https://github.com/dragonblood/Atlus">Atlus</a>
		<br>Website: <a href="https://vipulatlus.herokuapp.com/">Atlus</a>
		<br>Website: <a href="#">Details</a></h2>

		
	</code>{% else %} {% trans 'You are a guest, please Login.' %} {% endif %}{% endblock %}