 {% extends 'layouts/default/page.html' %} {% load i18n %} {% block content %}{% if request.user.is_authenticated %}


<h1>Diclonius</h1>
<div class="card dark-bg bg-dark container mt-3">
    <br />
    <code>
            <br />
            <br />
            <h2>{{ request.user.username }}@Librus:~$ <a href="https://github.com/dragonblood/Diclonius">Diclonius</a></h2>
            <h3 class="red">> Project is Yet To be Deployed Please Visit Github by clicking above link.</h3>
            
        </code> {% else %} {% trans 'You are a guest, please Login.' %} {% endif %} {% endblock %}